@import "src/styles/color";

.add-data {
  display: flex;
  align-items: center;

  .selected-file {
    text-decoration: underline;
    margin-right: 12px;

    &.not-selected {
      color: $color-error;
    }
  }
}